In [4]:
from pathlib import Path
import requests
from io import BytesIO
from zipfile import ZipFile, BadZipFile

import numpy as np
import pandas as pd
import pandas_datareader.data as web
from sklearn.datasets import fetch_openml

pd.set_option('display.expand_frame_repr', False)

In [5]:
DATA_STORE = Path('assets.h5')

In [6]:
stooq_path = Path('stooq') 
if not stooq_path.exists():
    stooq_path.mkdir()
market = 'us'
STOOQ_URL = 'https://static.stooq.com/db/h/'
data_url = f'd_{market}_txt.zip'
response = requests.get(STOOQ_URL + data_url).content
with ZipFile(BytesIO(response)) as zip_file:
    for i, file in enumerate(zip_file.namelist()):
        if not file.endswith('.txt'):
            continue
        local_file = stooq_path / file
        local_file.parent.mkdir(parents=True, exist_ok=True)
        with local_file.open('wb') as output:
            for line in zip_file.open(file).readlines():
                output.write(line)

FileNotFoundError: [Errno 2] No such file or directory: 'stooq\\data\\daily\\us\\nyse etfs\\prn.us.txt'

In [8]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.54.tar.gz (19 kB)
Requirement already satisfied: pandas>=0.24 in c:\users\carlm\anaconda3\envs\tf_gpu\lib\site-packages (from yfinance) (1.1.2)
Requirement already satisfied: numpy>=1.15 in c:\users\carlm\anaconda3\envs\tf_gpu\lib\site-packages (from yfinance) (1.18.5)
Requirement already satisfied: requests>=2.20 in c:\users\carlm\anaconda3\envs\tf_gpu\lib\site-packages (from yfinance) (2.24.0)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.9.tar.gz (8.1 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\carlm\anaconda3\envs\tf_gpu\lib\site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\carlm\anaconda3\envs\tf_gpu\lib\site-packages (from pandas>=0.24->yfinance) (2020.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\carlm\anaconda3\envs\tf_gpu\lib\site-packages (from requests>=2.20->yfinance) (1.25.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\carlm\anaconda3\envs\tf_gpu\lib\site-packages (from requests>=2.20->yfinance) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\carlm\anaconda3\envs\tf_gpu\lib\site-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\carlm\anaconda3\envs\tf_gpu\lib\site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: six>=1.5 in c:\users\carlm\anaconda3\envs\tf_gpu\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Building wheels for collected packages: yfinance, multitasking
  Building wheel for yfinance (setup.py): started
  Building wheel for yfinance (setup.py): finished with status 'done'
  Created wheel for yfinance: filename=yfinance-0.1.54-py2.py3-none-any.whl size=22415 sha256=ed66f3f6f8f48c72034ff5047d8c7a435fd692462dffaae2965aeb006b2ae380
  Stored in directory: c:\users\carlm\appdata\local\pip\cache\wheels\28\79\3c\08a301b673366fe664fe2853e136eb2acc1bb752045c11c6a1
  Building wheel for multitasking (setup.py): started
  Building wheel for multitasking (setup.py): finished with status 'done'
  Created wheel for multitasking: filename=multitasking-0.0.9-py3-none-any.whl size=8372 sha256=18fe0a81880f4900bc63ef2c4bd9afa7e181648b72df1c82998b0490a39d4f40
  Stored in directory: c:\users\carlm\appdata\local\pip\cache\wheels\ae\25\47\4d68431a7ec1b6c4b5233365934b74c1d4e665bf5f968d363a
Successfully built yfinance multitasking
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.9 yfinance-0.1.54

In [10]:
import yfinance as yf

In [34]:
msft = yf.download("GGAL.BA PAMP.BA", interval = "1d", period = "2y")

[*********************100%***********************]  2 of 2 completed

In [35]:
msft

             Adj Close                  Close                   High                    Low                   Open              Volume
               GGAL.BA    PAMP.BA     GGAL.BA    PAMP.BA     GGAL.BA    PAMP.BA     GGAL.BA    PAMP.BA     GGAL.BA    PAMP.BA  GGAL.BA  PAMP.BA
Date
2018-10-02  104.541214  48.799999  105.900002  48.799999  107.699997  51.450001  103.250000  48.400002  105.949997  50.349998  1223291   871957
2018-10-03  100.098953  48.700001  101.400002  48.700001  111.000000  50.900002  100.500000  48.650002  107.550003  49.099998  2432218   656799
2018-10-04   93.583641  46.000000   94.800003  46.000000  101.500000  48.549999   94.349998  45.799999  100.000000  48.549999  1853794  1118014
2018-10-05   90.227264  45.950001   91.400002  45.950001   96.500000  47.650002   91.000000  45.250000   95.250000  45.900002  1419576  1232881
2018-10-08   91.757370  46.049999   92.949997  46.049999   93.800003  47.650002   89.300003  44.900002   91.400002  45.950001  1104846   397643
...                ...        ...         ...        ...         ...        ...         ...        ...         ...        ...      ...      ...
2020-09-28  106.000000  60.400002  106.000000  60.400002  109.599998  61.500000  104.500000  58.000000  108.500000  61.000000  2587981   328879
2020-09-29  107.199997  60.450001  107.199997  60.450001  108.250000  60.950001  104.050003  58.599998  105.849998  59.099998  2892904   223992
2020-09-30  105.900002  59.650002  105.900002  59.650002  110.150002  61.200001  105.500000  58.799999  109.000000  60.450001  2894949  1321683
2020-10-01  108.949997  62.000000  108.949997  62.000000  109.699997  62.299999  106.000000  59.500000  106.300003  61.200001  1888380   664759
2020-10-02  109.449997  64.550003  109.449997  64.550003  109.750000  65.000000  107.500000  60.500000  108.000000  61.500000  1559087   844270

[488 rows x 12 columns]

In [43]:
ggal = yf.Ticker("googl")

In [44]:
ggal.history(period="max")

               Open     High      Low    Close    Volume  Dividends  Stock Splits
Date
2004-08-19    50.05    52.08    48.03    50.22  44659000          0           0.0
2004-08-20    50.56    54.59    50.30    54.21  22834300          0           0.0
2004-08-23    55.43    56.80    54.58    54.75  18256100          0           0.0
2004-08-24    55.68    55.86    51.84    52.49  15247300          0           0.0
2004-08-25    52.53    54.05    51.99    53.05   9188600          0           0.0
...             ...      ...      ...      ...       ...        ...           ...
2020-09-28  1471.99  1472.99  1446.28  1458.66   1539200          0           0.0
2020-09-29  1463.91  1472.00  1454.00  1466.02   1590800          0           0.0
2020-09-30  1460.94  1486.20  1455.76  1465.60   2045400          0           0.0
2020-10-01  1483.66  1495.07  1476.80  1487.90   1644200          0           0.0
2020-10-02  1459.63  1479.03  1447.35  1455.60   1560100          0           0.0

[4060 rows x 7 columns]

In [46]:
ggal.financials

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [53]:
import yfinance as yf

msft = yf.Ticker("MSFT")

# get stock info
msft.info

# get historical market data
hist = msft.history(period="max")

# show actions (dividends, splits)
msft.actions

# show dividends
msft.dividends

# show splits
msft.splits

# show financials
msft.financials
msft.quarterly_financials

# show major holders
msft.major_holders

# show institutional holders
msft.institutional_holders

# show balance heet
msft.balance_sheet
msft.quarterly_balance_sheet

# show cashflow
msft.cashflow
msft.quarterly_cashflow

# show earnings
msft.earnings
msft.quarterly_earnings

# show sustainability
msft.sustainability

# show analysts recommendations
msft.recommendations

# show next event (earnings, etc)
msft.calendar

# show ISIN code - *experimental*
# ISIN = International Securities Identification Number
msft.isin

# show options expirations
msft.options

('2020-10-08',
 '2020-10-15',
 '2020-10-22',
 '2020-10-29',
 '2020-11-05',
 '2020-11-12',
 '2020-11-19',
 '2020-12-17',
 '2021-01-14',
 '2021-02-18',
 '2021-03-18',
 '2021-04-15',
 '2021-06-17',
 '2021-07-15',
 '2021-09-16',
 '2022-01-20',
 '2022-03-17',
 '2022-06-16',
 '2022-09-15',
 '2023-01-19')

In [54]:
msft.quarterly_financials

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []