# Data gathering

## Activos de interés

In [1]:
# Banco Santander Rio - A, ARBRIO010186, BRIO5
# Petrobras, BRPETRACNOR9, PBR

In [2]:
assets = """Aluar, ARALUA010258, ALUA
Banco BBVA Argentina, ARP125991090, BBAR
Banco Hipotecario - D, ARBHIP010161, BHIP
Banco Macro - B, ARBANS010010, BMA
Central Puerto, ARP2354W1188, CEPU
Cablevision Holding - B, ARCABH300011, CVH
Edenor - B, ARENOR010020, EDN
Grupo Financiero Galicia - B, ARP495251018, GGAL
Loma Negra, ARLOMA300018, LOMA
Pampa Energia, ARP432631215, PAMP
Grupo Supervielle - B, ARGRSU300079, SUPV
Telecom Argentina - B, ARP9028N1016, TECO2""".split("\n")

In [3]:
from IPython.display import display, Markdown
names = [x.split(",")[0] for x in assets]
to_display = ""
for name in names:
    to_display = to_display + f"* {name}\n"
display(Markdown(to_display))

* Aluar
* Banco BBVA Argentina
* Banco Hipotecario - D
* Banco Macro - B
* Central Puerto
* Cablevision Holding - B
* Edenor - B
* Grupo Financiero Galicia - B
* Loma Negra
* Pampa Energia
* Grupo Supervielle - B
* Telecom Argentina - B

In [4]:
tickers = [x.split(",")[2].strip() for x in assets]
to_display = ""
for ticker in tickers:
    to_display = to_display + f"* {ticker}\n"
display(Markdown(to_display))

* ALUA
* BBAR
* BHIP
* BMA
* CEPU
* CVH
* EDN
* GGAL
* LOMA
* PAMP
* SUPV
* TECO2

## Obtenemos datos diarios de estos tickers

In [5]:
import yfinance as yf
import pandas as pd

In [6]:
international_tickers = [f"{ticker}.BA" for ticker in tickers]
international_tickers

['ALUA.BA',
 'BBAR.BA',
 'BHIP.BA',
 'BMA.BA',
 'CEPU.BA',
 'CVH.BA',
 'EDN.BA',
 'GGAL.BA',
 'LOMA.BA',
 'PAMP.BA',
 'SUPV.BA',
 'TECO2.BA']

Obtengo data de 2 años de Yahoo Finance

In [7]:
tickers_data = []
for international_ticker in international_tickers:
    yf_tickers = yf.Ticker(international_ticker)
    tickers_data.append(yf_tickers.history(period="2y", intervall = "1d"))

Hago un dataset con velas diarias de estos tickers

In [8]:
data = pd.concat(tickers_data, axis = 1, keys = tickers)

In [9]:
data.head(3)

             ALUA                                                        BBAR  \
             Open   High    Low  Close  Volume Dividends Stock Splits    Open
Date
2018-10-02  19.96  20.53  19.44  19.77  630425       0.0            0  152.17
2018-10-03  19.68  21.00  19.39  20.44  857202       0.0            0  157.88
2018-10-04  21.00  21.29  20.25  20.39  708669       0.0            0  150.86

                            ...     SUPV                          TECO2  \
              High     Low  ...   Volume Dividends Stock Splits    Open
Date                        ...
2018-10-02  156.91  147.23  ...  1107947       0.0            0  122.34
2018-10-03  164.66  148.68  ...   919541       0.0            0  123.40
2018-10-04  150.86  140.45  ...   690451       0.0            0  122.78


              High     Low   Close  Volume Dividends Stock Splits
Date
2018-10-02  127.96  120.50  121.91   86008       0.0            0
2018-10-03  125.90  121.47  122.78  152360       0.0            0
2018-10-04  125.37  120.59  122.78  126659       0.0            0

[3 rows x 84 columns]

In [79]:
data.to_csv("2y_tickers.csv")

In [10]:
data.to_pickle("2y_tickers.pkl")